*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #222326;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Raleway', Arial, sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

/* Header
   ========================================================================== */

.header {
  margin: 0 auto;
  padding: 4em 1em;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-weight: 800;
  font-size: 4em;
  line-height: 1.3;
  color: #dfe0e5;
}

.header h1 span {
  display: block;
  padding: 0 0 0.6em 0.1em;
  font-size: 45%;
  font-weight: 300;
  color: #88898c;
}

@media screen and (max-width: 25em) {
  .header {
    font-size: 75%;
  }
}
