body {
  color: #777;
}

#layout,
#menu,
.menu-link {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#layout {
  position: relative;
  padding-left: 0;
}

#layout.active {
  position: relative;
  left: 185px;
}
#layout.active #menu {
  left: 185px;
  width: 185px;
}

#layout.active .menu-link {
  left: 185px;
}

.content {
  line-height: 1.6em;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 2em;
}

.header {
  margin: 0;
  padding: 2.5em 2em 0;
  text-align: center;
  color: #333;
  border-bottom: 1px solid #eee;
}

.header h1 {
  font-size: 3em;
  font-weight: 300;
  margin: .2em 0;
}

.header h2 {
  font-weight: 300;
  margin-top: 0;
  padding: 0;
  color: #ccc;
}

#menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  width: 185px;
  margin-left: -185px;
  background: #222326;
  -webkit-overflow-scrolling: touch;
}

#menu a {
  padding: .6em 0 .6em .6em;
  color: #999;
  border: none;
}

#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}

#menu .pure-menu li a {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  padding-left: 25px;
  transition: all .2s linear;
  color: #949599;
  border-left: 3px solid transparent;
}

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #2e2f33;
}

#menu .pure-menu li.main-item {
  font-weight: 400;
  padding: 5px 10px;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 15px;
}

#menu .pure-menu-heading {
  font-family: 'Ubuntu', sans-serif;
  font-size: 23px;
  margin: 0;
  padding: 15px 0;
  transition: all .2s linear;
  text-align: center;
  text-transform: lowercase;
  color: #fff;
  background: #121314;
}

.menu-link {
  font-size: 10px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: block;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
  background: #000;
  background: rgba(0,0,0,.7);
}

.menu-link:hover,
.menu-link:focus {
  background: #000;
}

.menu-link span {
  position: relative;
  display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
  width: 100%;
  height: .2em;
  background-color: #fff;
}

.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -.6em;
  content: ' ';
}

.menu-link span:after {
  margin-top: .6em;
}

#menu .pure-menu-heading:hover,
#menu .pure-menu-heading:focus {
  background: #9f3fcf;
}

@media (min-width: 48em) {
  .header,
    .content {
    padding-right: 2em;
    padding-left: 2em;
  }

  #layout {
    left: 0;
    padding-left: 185px;
  }

  #menu {
    left: 185px;
  }

  .menu-link {
    position: fixed;
    left: 185px;
    display: none;
  }

  #layout.active .menu-link {
    left: 185px;
  }
}

#index .index.home-menu-selected {
  background: #9f3fcf;
}

#docs .docs.pure-menu-selected a,
#face_tag_friends .face_tag_friends.pure-menu-selected a,
#face_fish_tank .face_fish_tank.pure-menu-selected a,
#color_hexgl .color_hexgl.pure-menu-selected a,
#color_draw_something .color_draw_something.pure-menu-selected a,
#color_fish_tank .color_fish_tank.pure-menu-selected a,
#face_hello_world .face_hello_world.pure-menu-selected a,
#face_camera .face_camera.pure-menu-selected a,
#color_hello_world .color_hello_world.pure-menu-selected a,
#color_camera .color_camera.pure-menu-selected a,
#color_video .color_video.pure-menu-selected a,
#fast .fast.pure-menu-selected a,
#fast_camera .fast_camera.pure-menu-selected a,
#brief .brief.pure-menu-selected a,
#brief_camera .brief_camera.pure-menu-selected a {
  color: #fff;
  border-left: 3px solid #a64ceb;
  background: #2e2f33;
}
