body, html {
	background: #000;
	height: 100%;
	margin: 0;
	padding: 0;
}

.canvas {
	border-radius: 100%;
	display: block;
	height: 260px;
	margin: -130px auto 0 auto;
	opacity: .4;
	position: relative;
	top: 50%;
	width: 260px;
}

.blue {
	background: rgb(0, 0, 255);
}

.cyan {
	background: rgb(0, 255, 255);
}

.magenta {
	background: rgb(255, 0, 255);
}