.grid {
  overflow: hidden;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}

.grid figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 250px;
  margin: -.19em;
  cursor: pointer;
  -webkit-transition: background .1s ease-out;
  transition: background .1s ease-out;
  text-align: center;
  background: #121314;
}

.grid figure:hover {
  background: #9f3fcf;
}

.grid figure img {
  position: absolute;
  left: 50%;
  display: block;
  min-height: 100%;
  margin-left: -255px;
  opacity: .8;
}

.grid figure figcaption {
  font-size: 1.25em;
  text-transform: uppercase;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure a {
  font-size: 0;
  z-index: 1000;
  white-space: nowrap;
  text-indent: 200%;
  opacity: 0;
}

.grid figure h2 {
  font-size: 24px;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  font-size: 12px;
  line-height: 1.4em;
  letter-spacing: 1px;
}

figure.effect img {
  -webkit-transition: opacity .35s;
  transition: opacity .35s;
  opacity: .7;
}

figure.effect:hover img {
  opacity: .4;
}

figure.effect figcaption::before,
figure.effect figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  -webkit-transition: opacity .35s, -webkit-transform .35s;
  transition: opacity .35s, transform .35s;
  opacity: 0;
}

figure.effect figcaption::before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

figure.effect figcaption::after {
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

figure.effect h2 {
  padding-top: 20%;
  -webkit-transition: -webkit-transform .35s;
  transition: transform .35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

figure.effect p {
  padding: 20px 2.7em;
  -webkit-transition: opacity .35s, -webkit-transform .35s;
  transition: opacity .35s, transform .35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0,20px,0);
  opacity: 0;
}

figure.effect:hover figcaption::before,
figure.effect:hover figcaption::after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

figure.effect:hover h2,
figure.effect:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

@media screen and (min-width: 35.5em) {
  .grid figure {
    width: 50%;
  }

  figure.effect h2 {
    padding-top: 30%;
  }
}

@media screen and (min-width: 48em) {
  .grid figure {
    width: 33.333%;
  }
}
